[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = "*"

[dev-packages]
pytest = "*"
pylint = "*"
build = "*"
virtual-pet = {file = "dist\\virtual_pet-0.0.9.tar.gz"}

[requires]
python_version = "3.7"
