[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
termcolor = "*"
update = "*"
virtual-pet = {file = "dist\\virtual_pet-0.1.0.tar.gz"}

[dev-packages]
pytest = "*"
pylint = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.7"
