[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
termcolor = "*"
virtual-pet = {version = "==0.0.9", index = "testpypi"}

[dev-packages]
pytest = "*"
pylint = "*"
build = "*"
twine = "*"

[requires]
python_version = "3.7"
